<h3>Registro de Novo Usuario</h3>

<form [formGroup]="heroUser" (ngSubmit)="create(heroUser.value)">
    <label for="name">Nome:‌</label>
    <input class="form-control" [ngClass]="{'bot' : !heroUser.controls['name'].valid && heroUser.controls['name'].touched }"
        type="text" id="name" name="name" formControlName="name">
    <span ngClass="gr" *ngIf="heroUser.controls['name'].valid">ok!</span>
    <span *ngIf="heroUser.controls['name'].touched && heroUser.get('name').hasError('minlength')"> minimo </span>د
    <span *ngIf="heroUser.controls['name'].touched && heroUser.get('name').hasError('maxlength')">ده max length </span>
    <br>
    <label for="username">usuario:‌</label>
    <input class="form-control" [ngClass]="{'bot' : !heroUser.controls['username'].valid && heroUser.controls['username'].touched}"
        type="text" id="username" name="username" formControlName="username">
    <span *ngIf="heroUser.controls['username'].touched && heroUser.get('username').hasError('minlength')">erro </span>
    <span ngClass="gr" *ngIf="heroUser.controls['username'].valid">!!</span>
    <br>
    <label for="email"> email:‌</label>
    <input class="form-control" [ngClass]="{'bot' : !heroUser.controls['email'].valid && heroUser.controls['email'].touched }"
        type="text" name="email" id="email" formControlName="email">
    <span *ngIf="heroUser.controls['email'].touched && !heroUser.controls['email'].valid">  ! </span>
    <span ngClass="gr" *ngIf="heroUser.controls['email'].valid">!!</span>
    <br>
    <label for="phone">Cel:‌</label>
    <input class="form-control" [ngClass]="{'bot' : !heroUser.controls['phone'].valid && heroUser.controls['phone'].touched }"
        type="text" name="phone" id="phone" formControlName="phone">
    <span *ngIf="heroUser.controls['phone'].touched && !heroUser.controls['phone'].valid "> ! </span>
    <span ngClass="gr" *ngIf="heroUser.controls['phone'].valid">!!</span>
    <br>
    <input [ngClass]="{'bl': !heroUser.valid}" type="submit" [disabled]="!heroUser.valid">

</form>